@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

@layer base {
  body {
    @apply font-one;
  }
}

@layer components {
  .labelClass {
    @apply text-lg tracking-wider text-Purple-950 font-medium uppercase;
  }
  .confirmButton {
    @apply text-2xl text-white font-bold bg-Purple-950 p-4 w-full rounded-lg active:bg-purple-700 focus:bg-purple-700 active:translate-y-2 shadow-black shadow-2xl;
  }
  .inputStyles {
    @apply placeholder:text-2xl text-xl outline-2 p-3 rounded-lg outline-Gray-400 placeholder:text-Gray-400 w-full mt-2;
  }
  .inputStylesNumbers {
    @apply placeholder:text-2xl text-xl outline-2 p-3 rounded-lg outline-Gray-400 placeholder:text-Gray-400 w-2/12 inline mt-2 mx-2;
  }
}

@theme {
  --font-one: Space Grotesk;
  --color-Gray-200: hsl(270, 3%, 87%);
  --color-Gray-400: hsl(212, 12%, 71%);
  --color-Purple-950: hsl(278, 68%, 11%);
}
